<%-include('partials/header.ejs')%> 

<body>
    <%-include('partials/navbar.ejs')%> 
    <div class="container">
        <br>
        <div class="card">
           
            <div class="card">
                <div class="card-header">
                    <h2><%=artigo.title %> </h2>
                </div>
                <div class="card-body">
                    <%-artigo.body-%> 
                </div>
            </div>
           
    
         </div>
    </div>
    
</body>

<%-include ('partials/footer.ejs')%> 