<%-include('partials/header.ejs')%> 

<body>
    <%-include('partials/navbar.ejs')%> 
    <div class="container">
        <br>
        <% artigos.forEach(artigo => { %> 
                
            <div class="card">
                <div class="card-header">
                    <h2><%=artigo.title %> </h2>
                </div>
                <div class="card-body">
                    <a href="/<%=artigo.slug%> " class="btn btn-success">Ler artigo</a>
                </div>
                    
            </div>
          <br>

        <% }) %> 
        <div class="rows">
            <div class="col col-12">
               <a style="float:right;" class="btn btn-outline-info" href="/artigos/page/2"> Next >>> </a>
            </div>
        </div>

    </div>

    
</body>

<%-include ('partials/footer.ejs')%> 