<%-include('../../partials/header.ejs')%> 
<body>
    <%-include('../../partials/navbar.ejs')%> 
    <div class="container">
        <br>
        <div class="card ">
            <div class="card-header">
               <h5>Novo artigo</h5>
            </div>
            <div class="card-body">
              <form method="post" action="/artigos/save">
                <div class="mb-3">
                  <input type="text" class="form-control" name="title" aria-label="Recipient's username" placeholder="Define o título do artigo"> <br>
                  <textarea  class="form-control" placeholder="Escreva o atigo aqui..." name="body" id="artigo" cols="30" rows="10"></textarea><br>
                  <label>Categoria</label>
                  <select name="categoria" class="form-control">
                       <% categorias.forEach((categoria)=>{ %>
                            <option value="<%=categoria.id %> "><%=categoria.title%></option>
                        <% }) %> 
                  </select> <br>
                  <button class="btn btn-success" type="submit" id="button-addon2">Cadastrar</button>
                </div>
              </form>
            </div>
    </div>
    
</body>


<%-include ('../../partials/footer.ejs')%> 
<script src="/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({
        language: "pt_BR",
        selector: "#artigo",
        plugins:[
            'advlist autolink link imagem lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>